{
    "plugins": ["jest", "@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "env": {
      "node": true,
      "jest/globals": true
    },
    "rules": {
      "@typescript-eslint/ban-ts-comment": "off"
    },
    "ignorePatterns": ["*.test.ts"]
  }